<!doctype html>
<html lang="en">
  <head>
    <title>NBA Stats compiled in the hardest way possible</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
  <body>
    <div class="hero-center-section">
		<div class="left-text">Game Stats</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="{{ url_for('static', filename='img/airjordan.gif') }}" alt="">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="left-text">Player Stats</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="{{ url_for('static', filename='img/coolstory.gif') }}"" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-center-section">
		<div class="left-text">FanDuel Winners</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="img-wrap">
						<img src="{{ url_for('static', filename='img/lebron.gif') }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	
		
		
	<div class="section padding-top-bottom over-hide z-bigger">
		<ul class="slide-buttons">
			<li class="">
				<a href="http://www.nba.com" class="hover-target" data-hover="Game Stats">Game Stats</a>
			</li>
			<li class="">
				<a href="#0" class="hover-target" class="hover-target" data-hover="Player Stats">Player Stats</a>
			</li>
			<li class="">
				<a href="#0" class="hover-target" data-hover="FanDuel Winners">FanDuel Winners</a>
			</li>
			<li class="">
				<a href="#0" class="hover-target" data-hover="animals"></a>
			</li>
			<li class="">
				<a href="#0" class="hover-target" data-hover="business"></a>
			</li>
			<li class="">
				<a href="#0" class="hover-target" data-hover="art"></a>
			</li>
		</ul>
	</div>
		
	<!-- Page cursor
	================================================== -->
	
	<div class='cursor' id="cursor"></div>
	<div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div> 
		
	<!-- Link to page
	================================================== -->

	<a href="www.nba.com" class="link-to-page hover-target" target="_blank"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
			
	<!-- Dark/light switch
	================================================== -->
	
	<div class="bottom-right">								
		<div class="switch">
			<div class="circle hover-target"></div>
		</div>									
    </div>
      <div class="container" background:white onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>NBA Stats</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Select Game Date:</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">NBA Data</h3>
              </div>
              <div id="sample-metadata" class="panel-body"></div>
     
            </div>
          </div>
          <div class="col-md-5">
            <div id="pie"></div>
          </div>
          <div class="col-md-5">
            <div id="gauge"></div>
          </div>
        </div>
				<div class="col-md-12">
					<div id="table-area" class="">
						<table id="ufo-table" class="table table-striped">
							<thead>
								<tr>
									<th class= "table-head">GAME_DATE</th>
									<th class= "table-head">TEAM_NAME</th>
									<th class= "table-head">MATCHUP</th>
									<th class= "table-head">NAME</th>
									<th class= "table-head">POS</th>
									<th class= "table-head">FANT_PTS</th>
									<th class= "table-head">FG3M</th>
									<th class= "table-head">AST</th>
									<th class= "table-head">BLK</th>
									<th class= "table-head">FGM</th>
									<th class= "table-head">FTM</th>
									<th class= "table-head">REB</th>
									<th class= "table-head">STL</th>
									<th class= "table-head">TOV</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				

      <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="{{ url_for('static', filename='js/config.js') }}"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
     
     </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <!-- <script src= "config.js"></script> -->


</body>
</html>